@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    --bg: hsl(190deg 20% 10%);
    font-family: "Lato", sans-serif;
    overflow: hidden;
}

.box {
    box-shadow: 0px 2px 2px hsl(0 0% 0% / 25%);
    animation: border-angle-rotate 2s infinite linear;
    border: 0.1rem solid transparent;
    position: relative;
    background-color: var(--bg);

    &.border-run {
        background: linear-gradient(var(--bg), var(--bg)) padding-box,
            conic-gradient(from var(--border-angle),
                var(--bg) 50%,
                white) border-box;
    }


}

* {
    user-select: none;
}

@keyframes border-angle-rotate {
    from {
        --border-angle: 0deg;
    }

    to {
        --border-angle: 360deg;
    }
}


@property --border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}